*{
 border: 0;
 padding: 0;
 box-sizing: content-box;
 font-family: sans-serif;
}

.link-style{
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
}
.link-style:hover{
    color: red;
    transition: 1.8s;
}

.itemAll{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
body p{
    text-indent: 1%;
}
.text-section{
    font-weight: bolder;
}

.nav-item{
    text-decoration: none;
    color: rgb(66, 66, 66);

}
.nav-item:hover{
    text-decoration: underline;

}
.item-email{
    cursor: pointer;
    color: rebeccapurple;
}